* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
img {
    width: 150px;
    height: 100px;
}
div{
    width: 300px;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    margin-left: 20px;
    margin: 30px auto; 
    border: 1px solid black;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
.d6 {
    margin: 30px auto;
}
div:hover {
    transform: translate(0, -20px);
}